.form__api-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    height: 10px;
    color: #ee3465;
}

.auth-form__submit_type_login {
    margin-top: 159px;
}

@media screen and (max-width: 450px) {
    .auth-form__submit_type_login {
        margin-top: 247px;
    }
}